@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@700&family=Inter:wght@100..900&display=swap");

:root {
  --btn-bg: #fff;
  --text: #060e1e;
  --btn-hover: #d9d9d9;

  --btn-primary-bg: #316fea;
  --btn-primary-hover: #5085ed;
  --btn-primary-text: #ffffff;

  --error-color: #c1292e;

  --border-color: #d3d8dc;

  --divider-text: #bec5cc;
  --divider-line: #e3e6e9;
}

body,
html {
  margin: 0;
  padding: 0;
}

body,
#root {
  height: 100vh;
}

.container {
  width: 400px;
  margin: 0px auto;
  padding-top: 180px;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 767px) {
  .container {
    width: 100%;
    padding: 0px 10px;
    padding-top: 80px;
  }
}

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
}
